        
        body {
            background-color: #4abdac;
        }

        .candara_p {
            color: #dfdce3;
            font-family: Tw Cen MT;
            font-size: 10px;
        } 

        .candara_h1 {
            color: #dfdce3;
            font-family: Tw Cen MT;
            font-size: 40px;
        }
