        
        body {
            background-color: #4abdac;
        }

        .calibri_p {
            color: #dfdce3;
            font-family: Calibri;
            font-size: 20px;
            text-align: center;
            align: center;
            width: 800px;
        } 

        .calibri_h1 {
            color: #dfdce3;
            font-family: Calibri;
            font-size: 35px;
            text-align: center;
        }
        
