        
        .body_color {
            background-color: #4abdac;
        }

        .calibri_p {
            color: #fff7f7;
            font-family: Calibri;
            font-size: 20px;
            margin: 0 auto;
            width: 800px;
        } 

        .calibri_h1 {
            color: #fff7f7;
            font-family: Calibri;
            font-size: 35px;
            text-align: center;
        }

        .calibri_h2 {
            color: #fff7f7;
            font-family: Calibri;
            font-size: 18px;
            text-align: center;
        }

        .float_right {
                float: right;  
                padding: 20px 20px 20px 20px;
        }

        .float_left {
                float: left;
                padding: 20px 20px 20px 20px;
        }
