        
        body {
            background-color: #4abdac;
        }

        .calibri_p {
            color: #fff7f7;
            font-family: Calibri;
            font-size: 20px;
            /*margin: 0 auto;*/
            width: 800px;
        } 

        .calibri_h1 {
            color: #fff7f7;
            font-family: Calibri;
            font-size: 35px;
            text-align: center;
        }

        .float_right {
                float: right;   
        }

        .float_left {
                float: left;
        }
