        
        body {
            background-color: #4abdac;
        }

        .calibri_p {
            color: #fff7f7;
            font-family: Calibri;
            font-size: 20px;
            margin: 0 auto;
            width: 800px;
        } 

        .calibri_h1 {
            color: #fff7f7;
            font-family: Calibri;
            font-size: 35px;
            text-align: center;
        }

        .float_right {
                float: right;  
                padding: 20px 20px 20px 20px;
        }

        .float_left {
                float: left;
                padding: 20px 20px 20px 20px;
        }

        .bg_bottom {
                position: absolute;
                top: 0;
                width: 100%;
                background-position: center bottom;
                background-repeat: repeat-x;
                z-index: -100;
                background-image: url("https://github.com/connorbuckbee/connorbuckbee.github.io/blob/master/myBackground.png");
        }
